<style type="text/css">
	body {
		font-family:arial,sans-serif;
		font-size: 14px;
		color: black;
		background: teal;
		margin: 40px 20px 30px 25px;
		padding: 0px;
	}
		/*this is a comment in css*/
	p {
		line-height: 24px;
		}
	a {
		text-decoration: none;
	}
	h1,h3 {
		margin-bottom: 10px;
		background-color: #090;
		letter-spacing: 0.2em;
		}
		/*sodo selector*/
	h2:before{ 
		content: ' \003C'
	}	
	h2:after {
		content: ' \003E'; 
	}
	img{
		border:groove 15px lime;
		opacity: 0.4;
	}
	img:hover {
		opacity:1;
	}
	div	{
		width: 400px;
		padding: 20px;
		border:30px solid blue;
		margin: 50px

	}
</style>