body{
	background-color: pink;
	margin:0;
	padding: 20px;
	font-size: 100%;
}
h1{
	margin:0 0.5em;
}
.repeat{
	float:left;
	width:200px;
	height:200px;
	margin:0 2em;
	border:4px solid green;
	background-image: url("puppy.jpg");
}
.{background-repeat: repeat;}
.no-repeat{background-repeat: no-repeat;}
.repeat-x{background-repeat: repeat-x;}
.repeat-y{background-repeat: repeat-y;}
