body{
	background-image: 
}
.container{
margin: 0;
}
.hf{
	border:2px solid black;
	background-color: white;
	padding: 2em;
	width: auto;
	height:40%;
}
.nav1{
	border:2px solid black;
	float:left;
	background-color: pink;
	padding: 2em;
	margin:0;
	width: 10%;
	height:80%;
}
.nav2{
	border:2px solid black;
	float:center;
	padding: 2em;
	background-color: blue;
	width: 10%;
	height:80%;
}
.nav3{
	border:2px solid black;
	float:right;
	background-color: yellow;
	padding: 2em;
	width: 10%;
	height:80%;
	background:sc
}
